*{
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    border: none;
}
a{
    text-decoration: none;

}
input , textarea ,button{
    border: none;
    outline: none;
}
html{
    font-size: 100px;
}