header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
    background-image: url("../img/dingdan/beijing.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
}
.condition{
    width: 100%;
    height: auto;
    padding: 0 0.24rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.condition .Bigbox{
    width: 100%;
    height: 2.26rem;
    background-image: url("../img/dingdan/tupianone.png");
    background-size: 100% 100%;
    margin-top: 0.26rem;
    display: flex;
    align-items: center;
}
.condition .Bigbox .conditionLeft{
    height: 1.6rem;
    width: 1.6rem;
    /*background-color: yellow;*/
    padding: 0.1rem 0.46rem;
    box-sizing: border-box;
    display: flex;
    margin-left: 0.3rem;
    flex-direction: column;
}
.condition .Bigbox .conditionLeft .tupian{
    width: 0.9rem;
    height: 0.7rem;
    border-radius: 50%;
    background-image: url("../img/dingdan/touxiang2.png");
    background-size: 100% 100%;
    margin-left: -0.1rem;
}
.condition .Bigbox .conditionLeft .line{
    width: 1.14rem;
    height: 0.16rem;
    /*background-color: #17ff25;*/
    margin-left: -0.25rem;
    background-image: url("../img/dingdan/1.png");
    background-size: 100% 100%;
}
.condition .Bigbox .conditionLeft .xing{
    width: 1.1rem;
    height: 0.16rem;
    /*background-color: #3643ff;*/
    margin-left: -0.25rem;
    margin-top: 0.1rem;
    background-image: url("../img/dingdan/2.png");
    background-size: 100% 100%;
}
.condition .Bigbox .conditionLeft .box{
    width: 1.07rem;
    height: 0.3rem;
    border-radius: 0.11rem;
    background-color: #f87d51;
    color: white;
    font-size: 0.22rem;
    margin-top: 0.1rem;
    margin-left: -0.2rem;
    text-align: center;
    line-height: 0.3rem;
}
.condition .Bigbox .conditionMiddle{
    width: 0.04rem;
    height: 1.5rem;
    background-color: #4d575a;
    margin-left: 0.25rem;
}
.condition .Bigbox .conditionRight{
    width: 4.4rem;
    height: 1.66rem;
    /*background-color: yellow;*/
    margin-left: 0.25rem;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0.2rem;
    box-sizing: border-box;
}
.condition .Bigbox .conditionRight .title{
    flex-grow: 1;
    /*background-color: #17ff25;*/
    font-size: 0.24rem;
    font-weight: bold;
}
.condition .Bigbox .conditionRight .title1{
    flex-grow: 1;
    /*background-color: #bf23ff;*/
    font-size: 0.16rem;
}
.condition .Bigbox .conditionRight .yuan1{
    flex-grow: 1;
    /*background-color: #ff2a2f;*/
    background-image: url("../img/dingdan/3.png");
    background-repeat: no-repeat;
    /*background-position: 0rem 0.02rem ;*/
    background-size: 2rem 0.08rem;
}
.condition .Bigbox .conditionRight .text{
    flex-grow: 1;
    /*background-color: #2fc9ff;*/
    font-size: 0.16rem;
    display: flex;
    align-items: center;
}
.condition .Bigbox .conditionRight .yuan2{
    flex-grow: 1;
    /*background-color: #ffed2c;*/
    background-image: url("../img/dingdan/3.png");
    background-repeat: no-repeat;
    background-size: 2rem 0.08rem;
    /*background-position: 0rem 0.02rem;*/
}
.condition .Bigbox .conditionRight .time{
    flex-grow: 1;
    /*background-color: #ff15c9;*/
    display: flex;
    font-size: 0.16rem;
    align-items: center;
}
.condition .Bigbox .conditionRight .time i{
    font-size: 0.16rem;
}
.condition .Bigbox .picture{
    width: 0.8rem;
    height: 0.7rem;
    background-image: url("../img/dingdan/jiaqian.png");
    background-size: 100% 100%;
    margin-top: -1.5rem;
    margin-right: 0.6rem;
    font-size: 0.18rem;
    line-height: 0.7rem;
}

/*tabæ */
.footer{
    width: 100%;
    height: 0.98rem;
    background-color: #e9ccff;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 0.24rem;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    z-index: 999;
}
.footer > li{
    width: 100%;
    height: 100%;
    /*background-color: #a71d5d;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer > li > a{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.2rem;
}
.footer > li > a.actives span{
    color: red;
}
.footer > li > a.actives i{
    color: red;
}

/*
kongbai*/
.blank{
    width: 100%;
    height: 3rem;
}